<template>
  <v-app id="app" data-app>
    <v-phone-number-demo />
  </v-app>
</template>

<script>
import VPhoneNumberDemo from '#/components/VPhoneNumberDemo.vue';

export default {
  name: 'App',
  components: { VPhoneNumberDemo },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
