<template>
  <div class="mx-10">
    <v-form>
      <!-- label and validation settings -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-text-field
              dense clearable
              label="Label"
              v-model="attrs.label" />
        </v-col>
        <v-col cols="2" />
        <v-col cols="2" class="pr-2">
          <v-switch
            dense persistent-hint
            hint="VOIP"
            v-model="attrs.voip" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Mobile"
              v-model="attrs.mobile" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Landline"
              v-model="attrs.landline" />
        </v-col>
      </v-row>
      <!-- placeholder and v-text-field appearance -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-text-field
              dense clearable
              label="Placeholder"
              v-model="attrs.placeholder" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Persistent"
              v-model="attrs.persistentPlaceholder" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Outlined"
              v-model="attrs.outlined" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Filled"
              v-model="attrs.filled" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Shaped"
              v-model="attrs.shaped" />
        </v-col>
      </v-row>
      <!-- hint and v-text-field appearance -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-text-field
              dense clearable
              label="Hint"
              v-model="attrs.hint" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Persistent"
              v-model="attrs.persistentHint" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Dense"
              v-model="attrs.dense" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Single Line"
              v-model="attrs.singleLine" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Rounded"
              v-model="attrs.rounded" />
        </v-col>
      </v-row>
      <!-- included countries and country code selector settings -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-select
              dense clearable multiple chips
              label="Country Whitelist"
              :items="countryCodeSelectorList"
              item-text="name"
              item-value="countryCode"
              v-model="attrs.includedCountries" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Hide country select"
              v-model="attrs.disableCountrySelect" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Hide calling code"
              v-model="attrs.hideCallingCode" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Hide Flag"
              v-model="attrs.hideFlag" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Show country code"
              v-model="attrs.showCountryCode" />
        </v-col>
      </v-row>
      <!-- excluded countries and interactivity state -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-select
              dense clearable multiple chips
              label="Country Blacklist"
              :items="countryCodeSelectorList"
              item-text="name"
              item-value="countryCode"
              v-model="attrs.excludedCountries" />
        </v-col>
        <v-col cols="2" />
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Strict"
              v-model="attrs.strict" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Read-only"
              v-model="attrs.readonly" />
        </v-col>
        <v-col cols="2" class="pr-2">
          <v-switch
              dense persistent-hint
              hint="Disabled"
              v-model="attrs.disabled" />
        </v-col>
      </v-row>
      <!-- input and data -->
      <v-row>
        <v-col cols="4" class="pr-2">
          <v-phone-number
              required validate-on-blur
              v-model="value"
              v-bind="attrs"
              @phone-number="(v) => phoneNumber = v"
              @keydown="onKeyDown" />
          <v-phone-number v-if="isProbablyPhone"
              ref="phoneInput"
              required validate-on-blur
              label="Email or phone sample"
              v-model="jointValue"
              v-bind="attrs" />
          <v-text-field v-else
              ref="textInput"
              label="Email or phone sample"
              v-model="jointValue"
              v-bind="attrs" />
        </v-col>
        <v-col cols="4" class="pr-2 text--align-left">
          <div class="grey--text text--darken-1 font-weight- mb-2">
            Bound models
          </div>
          <div>
            '{{ value }}'
          </div>
          <div class="mt-12">
            '{{ jointValue }}'
          </div>
        </v-col>
        <v-col cols="4" class="text--align-left">
          <div class="grey--text text--darken-1 font-weight- mb-2">
            Internal object
          </div>
          <table class="table">
            <tr>
              <td>number</td>
              <td>'{{ phoneNumber.number }}'</td>
            </tr>
            <tr>
              <td>nationalNumber</td>
              <td>'{{ phoneNumber.nationalNumber }}'</td>
            </tr>
            <tr>
              <td>isValid()</td>
              <td>{{ phoneNumber.isValid() }}</td>
            </tr>
            <tr>
              <td>isPossible()</td>
              <td>{{ phoneNumber.isPossible() }}</td>
            </tr>
            <tr>
              <td>getType()</td>
              <td>{{ phoneNumber.getType() }}</td>
            </tr>
          </table>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { getCountryCodeSelectorList, blankPhoneNumber } from '~/lib/core';

export default {
  data: () => ({
    value: null,
    jointValue: null,
    phoneNumber: blankPhoneNumber,
    attrs: {
      label: '',
      placeholder: '',
      persistentPlaceholder: false,
      hint: '',
      persistentHint: false,
      dense: false,
      singleLine: false,
      outlined: false,
      filled: false,
      shaped: false,
      rounded: false,
      strict: false,
      excludedCountries: [],
      includedCountries: [],
      disableCountrySelect: false,
      hideCallingCode: false,
      hideFlag: false,
      showCountryCode: false,
      readonly: false,
      disabled: false,
      voip: false,
      mobile: false,
      landline: false,
    },
  }),
  computed: {
    countryCodeSelectorList() {
      return getCountryCodeSelectorList('en');
    },
    isProbablyPhone() {
      if (! this.jointValue) return false;
      return /^\+?\(?\d{3}\)?\d{2,}$/.test(this.jointValue);
    },
  },
  watch: {
    isProbablyPhone(val) {
      this.$nextTick(function () {
        if (val)
          this.$refs.phoneInput.focus();
        else 
          this.$refs.textInput.focus();
      });
    },
  },
  methods: {
    onKeyDown ($e) {
      console.log($e);
    },
  },
};
</script>

<style lang="scss">
.v-input--switch {
  margin-top: 0 !important;
}

.text--align-left {
  text-align: left;
}

.table {
  th, td {
    padding-right: 10px;
  }
}
</style>