<template>
  <div class="v-phone-number__country-code">
    <v-menu
        offset-y
        nudge-bottom="4px"
        nudge-left="2px"
        :disabled="disabled || readonly"
        v-model="menuOpen">
      <template #activator="{ on }">
        <div
            class="v-phone-number__country-code-display d-flex"
            :class="{ 'active': menuOpen }"
            v-on="on">
          <div
              class="v-input__prepend-inner"
              v-if="prependInnerIcon" 
              @click:prepend-inner="(e) => $emit('click:prepend-inner', e)">
            <div class="v-input__icon v-input__icon--prepend">
              <v-icon>{{ prependInnerIcon }}</v-icon>
            </div>
          </div>
          <span class="mt-1">{{ displayText }}</span>
          <div v-if="! readonly" class="v-input__append-inner">
            <div class="v-input__icon v-input__icon--append">
              <v-icon :color="appendIconColor">mdi-menu-down</v-icon>
            </div>
          </div>
        </div>
      </template>
      <v-sheet class="mt-n1">
        <div class="v-phone-number__country-code-search px-3">
          <v-text-field
              autofocus hide-details
              :color="color"
              :success="success"
              :placeholder="searchText"
              v-model="search" />
        </div>
        <v-list dense max-height="300px" class="v-phone-number__country-list overflow-y-auto">
          <v-list-item-group
              v-for="item in list"
              :key="item.countryCode"
              :value="value"
              :color="color">
            <v-list-item
                class="d-flex align-center"
                :value="item.countryCode"
                @click="select(item)">
              <span class="mr-2">{{ item.flag }}</span>
              <span class="mr-2">{{ item.name }}</span>
              <v-spacer />
              <span>+{{ item.callingCode }}</span>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-sheet>
    </v-menu>
  </div>
</template>

<script>
import { getCountryCodeSelectorList } from '~/lib/core';
import i18n from '~/lib/i18n';

export default {
  inheritAttrs: false,

  props: {
    // bound model
    value: {
      type: String,
      required: true,
    },
    // behavior
    disabled: {
      type: Boolean,
      default: () => false,
    },
    readonly: {
      type: Boolean,
      default: () => false,
    },
    // localization
    language: {
      type: String,
      default: () => 'en',
    },
    // data settings
    defaultCountry: {
      type: String,
      default: () => 'US',
    },
    includedCountries: Array,
    excludedCountries: Array,
    // display settings
    color: {
      type: String,
      default: () => 'primary',
    },
    success: {
      type: Boolean,
      default: () => false,
    },
    hideFlag: {
      type: Boolean,
      default: () => false,
    },
    hideCallingCode: {
      type: Boolean,
      default: () => false,
    },
    showCountryCode: {
      type: Boolean,
      default: () => false,
    },
    prependInnerIcon: {
      type: String,
      required: false,
    },
  },

  data: () => ({
    search: '',
    selection: {},
    menuOpen: false,
  }),

  computed: {
    fullList () {
      return getCountryCodeSelectorList(this.language);
    },
    list () {
      // included countries takes precedent
      if (this.includedCountries && this.includedCountries.length) {
        const map = this.includedCountries.reduce((obj, code) => {
          obj[code] = code;
          return obj;
        }, {});
        return this.fullList.filter(item =>  !! map[item.countryCode] && this.filterList(item));
      }
      // excluded countries
      else if (this.excludedCountries && this.excludedCountries.length) {
        const map = this.excludedCountries.reduce((obj, code) => {
          obj[code] = code;
          return obj;
        }, {});
        return this.fullList.filter(item => ! map[item.countryCode] && this.filterList(item));
      }
      // whole list
      return this.fullList.filter(item => this.filterList(item));
    },
    displayText () {
      let ret = '';
      if (! this.hideFlag) {
        ret += this.selection.flag + ' ';
      }
      if (this.showCountryCode) {
        ret += this.selection.countryCode + ' ';
      }
      if (! this.hideCallingCode) {
        ret += '+ ' + this.selection.callingCode;
      }
      return ret;
    },
    searchText () {
      return i18n('search', this.language);
    },
    appendIconColor () {
      return this.disabled ? 'grey lighten-1' : null;
    },
  },

  watch: {
    value (v) {
      this.selection = this.fullList.find(item => item.countryCode === v);
    },
    menuOpen (v) {
      if (v) {
        this.search = '';
      }
    },
  },

  methods: {
    filterList (item) {
      return this.search
        ? item.name.concat(item.countryCode, item.callingCode).toLowerCase().includes(this.search.toLowerCase())
        : true;
    },
    select (item) {
      this.$emit('input', item.countryCode);
      this.$emit('select');
    },
  },

  mounted () {
    this.selection = this.fullList.find(item => {
      if (this.value)
        return item.countryCode === this.value;
      return item.countryCode === this.defaultCountry;
    });
    this.$emit('input', this.selection.countryCode);
  },
};
</script>

<style lang="scss">
@import '../node_modules/vuetify/src/styles/styles.sass';

.v-phone-number {
  // fix positioning in default dense inputs
  .v-input--dense:not(.v-text-field--enclosed) {
    .v-phone-number__country-code {
      margin-top: 2px;
    }
  }

  // need to handle the movement which occurs with labelled, filled inputs
  .v-text-field--filled:not(.v-text-field--single-line) {
    .v-phone-number__country-code {
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
    
    &.v-input--is-dirty, &.v-input--is-focused {
      .v-phone-number__country-code {
        transform: translateY(9px);
      }

      &.v-input--dense .v-phone-number__country-code {
        transform: translateY(12px);
      }

      // filled and outlined
      &.v-text-field--outlined .v-phone-number__country-code {
        transform: translateY(10px);
      }

      &.v-text-field--outlined.v-input--dense .v-phone-number__country-code {
        transform: translateY(0px);
      }

      // I can't figure out a better way to stop filled, dense stuff from teleporting 12px
      &.v-input--dense {
        transform: none;
      }
    }
  }

  .v-input:not(.v-input--is-disabled).theme--light {
    .v-phone-number__country-code-display {
        color: map-get($material-light, 'text-color');
    }
  }

  .v-input:not(.v-input--is-disabled).theme--dark {
    .v-phone-number__country-code-display {
        color: map-get($material-dark, 'text-color');
    }
  }

  .v-phone-number__country-code-display {
    cursor: pointer;
    white-space: nowrap;

    .v-input__prepend-inner,
    .v-input__append-inner {
      margin-top: 0 !important;
    }

    .v-input__icon--append {
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
    }

    &.active .v-input__icon--append {
      transform: rotate(180deg);
    }
  }

  .v-input--is-readonly .v-phone-number__country-code-display {
    cursor: unset;
  }

  .v-input--is-disabled .v-phone-number__country-code-display,
  .v-input--is-disabled .v-input__prepend-inner {
    cursor: default;
  }

  .v-phone-number__country-list {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }
}
</style>
